html, body, root{
  margin: 0;
  height: 100vh;
}

.App {
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 75px 1fr 50px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  align-items: stretch;
}

.content-grid {
  display: grid;
  grid-area: content;
  height: 100%;
  grid-template-rows: 1fr max-content max-content 1fr;
  grid-template-areas:
    "content-top"
    "content";
}
/* Everfi colors:
  #556163  Gray
  #FF4B0A  Orange
  #FFFFFF  White
*/

/* 
E71532 Red
FFD32B Yellow
E5E6E6 Gray-white
*/